<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Grillber</title>
    
    <link rel="icon" href="img/logo.png">
    <!-- styles -->


    {% style "/css/font-awesome.css" %}
    {% style "/css/my.css" %}
    {% style "/css/style.css" %}

    {% block page-style %}
    {% endblock %}
</head>
<body>
 {% block menu %}
 <div>
	<ul>
	<!-- <img src="images/logo.png" style="width: 40px; height: 40px"></img>-->
		<li><a href="#"><b>GRILLBER</b></a></li>
		<li><a class="active" href="/">Book a grill</a></li>
		<li><a href="update">Order history</a></li>
		<li style="float:right"><a href="/logout" ><i class="fa fa-user"></i> Logout</a></li>
	</ul>
</div>
 {% endblock %}

 {% block content %}
 {%endblock%}
<!-- scripts -->
{% script "/js/jquery.min.js" %} 
{% script "/js/jquery.formtowizard.js" %} 
{% script "/js/jquery.validate.min.js" %} 

{% block page-scripts %}
{% endblock %}
</body>
</html>


