{% extends "template.html" %} {% block content %} {% block page-style %}
{% endblock %}
<div class="main">
	<h1>Order history</h1>
	<div class="w3_agile_main_grids">
		<div id='progress'></div>

		<div class="agile_form">
			<h3>My orders</h3>
			<table id="orders">
				<tr>
					<th>Number</th>
					<th>BBQ</th>
					<th>Delivery date</th>
					<th>Delivery time</th>
					<th>Address</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr id="id1">
					<td>1</td>
					<td class="bbq">SIGNET 90</td>
					<td class="delivery-date">09/20/2019</td>
					<td>17:00</td>
					<td class="main-address">Maria Anders</td>
					<td>
						<button class="edit mybtn">
							<i class="fa fa-edit" aria-hidden="true"></i>
						</button>
					</td>
					<td>
						<button class="remove mybtn">
							<i class="fa fa-remove" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
				<tr id="id2">
					<td>1</td>
					<td class="bbq">IMPERIAL XLS</td>
					<td class="delivery-date">09/20/2019</td>
					<td>09:00</td>
					<td class="main-address">Maria Anders 2</td>
					<td>
						<button class="edit mybtn">
							<i class="fa fa-edit" aria-hidden="true"></i>
						</button>
					</td>
					<td>
						<button class="remove mybtn">
							<i class="fa fa-remove" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>

		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<form action="#" class="agile_form" method="post">
					<h3>Edit</h3>
					<fieldset>

						<div class="form-group agileits_w3layouts_form "
							style="padding-top: 20px">BBQ:</div>
						<div class="form-group agileits_w3layouts_form">
							<div class="wthree_input">
								<i class="fa fa-globe" aria-hidden="true"></i> 
								<select id="bbq-select" class="form-control">
									<option value="BBQ" selected="">BBQ</option>
									<option value="SIGNET 90">SIGNET 90</option>
									<option value="REGAL S590">REGAL S590</option>
									<option value="IMPERIAL XLS">IMPERIAL XLS</option>
								</select>
							</div>
						</div>

						<div class="form-group agileits_w3layouts_form "
							style="padding-top: 20px">Delivery date:</div>
						<div class="form-group agileits_w3layouts_form">
							<div class="wthree_input">
								<i class="fa fa-calendar" aria-hidden="true"></i> <input
									id="date-modal" type="date" name="Delivery"
									class="form-control dateclass" placeholder="Pick a date" />
							</div>
						</div>

						<div class="form-group agileits_w3layouts_form"
							style="padding-top: 20px">Address:</div>
						<div class="form-group agileits_w3layouts_form ">
							<div class="wthree_input">
								<i class="fa fa-home" aria-hidden="true"></i> <input
									id="Address" type="text" name="Address" class="form-control" />
							</div>
						</div>

						<input id="rowId" type="hidden" />
						<div>
							<h3>
								<button id="SaveChanges" class="btn btn-primary"
									style="margin-top: 20px">Save changes</button>
							</h3>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</div>

{% endblock %} {% block page-scripts %}
{% script "/js/update.js" %} 
{% endblock %}
